<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("background3.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }
        .cont {
            position: relative;
            left: 600px;
            top: 50px;
            color: white;
            -webkit-text-stroke: 0.5px black;
        }
        .container1 {
            position: fixed;
            left: 50px;
            top: 200px;
            color: white;
        }
        .container2 {
            position: fixed;
            left: 410px;
            top: 200px;
            color: white;
        }
        #label1 {
            position: absolute;
            left: 10px;
            top: 380px;
        }
        #label2 {
            position: absolute;
            left: 15px;
            top: 380px;
        }
       
        img.rounded-corners {
            border-radius: 15px;

        }
        .la{
            
            color: black;
            position: absolute;
            top: 420px;
            font-size: 24px;
            font-family :Arial, Helvetica, sans-serif;
        }
        .b1{

            position: absolute;
            top: 410px;
            left: 3px;
            height: 30px;
            width: 280px;
            background-color: darkslategray;
            font-size: 20px;
            border-radius: 7px;
            color: white;
            border-color: darkslategray;
            font-family :Arial, Helvetica, sans-serif;
            
        }
        .b2{
            position: absolute;
            top: 410px;
            left: 3px;
            height: 30px;
            width: 280px;
            background-color: darkslategray;
            font-size: 20px;
            border-radius: 7px;
            color: white;
            border-color: darkslategray;
            font-family :Arial, Helvetica, sans-serif;
            
        }
        .header{
            color: black;
            position: fixed;
            left: 50px;
            top: 130px;
            font-size: 31px;
            font-weight: bold;
            font-family :Arial, Helvetica, sans-serif;
            
         }
         .bar{
            color: darkslategray;
        }
        .collapse{
            color: darkslategray;
            background-color: darkslategray;
        }
        .navbar{
            color: darkslategray;
            background-color: darkslategray;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cities</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" style=" font-size: 25px; font-family :Arial, Helvetica, sans-serif; 
        color: white" >ByteMe</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form method="POST" action='/search' class="form-inline my-2 my-lg-0">
                <div class="header">
                    Choose your favourite city
                </div>
                <input class="form-control mr-sm-2" name="Search" type="search" placeholder="Search"
                aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0"   style = " font-size: 15px; background-color: lightslategrey; 
            font-family :Arial, Helvetica, sans-serif;
            color: white; border-color: lightslategrey; height: 40px; border-radius: 5px;" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container1">
        <p>
            <img class="wdn-stretch rounded-corners" id="image" src="/paris.png" width="280" height="380">
        </p>
        <br>
        <label id="label1" class="la">Paris</label>
        <br>
        <button onclick="location.href = '/paris';" id="paris" class="b1"> View </button>
    </div>
    <div class="container2">
        <p>
            <img class="wdn-stretch rounded-corners" id="image" src="/rome.png" width="280" height="380">
        </p>
        <br>
        <label id ="label2" class="la">Rome</label>
        <br>
        <button onclick="location.href = '/rome';" id="rome" class="b2"> View </button>
    </div>
</body>
</html>