<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("background3.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }
        .container1 {
            position: fixed;
            left: 50px;
            top: 200px;
            color: white;
        }
        .container2 {
            position: fixed;
            left: 450px;
            top: 200px;
           
            width: 400px;
            text-align: justify;
            text-justify: inter-word;
            color: black;
            font-size: 23px;
         
            font-family :Arial, Helvetica, sans-serif;
            
        }
        .video {
            position: fixed;
            left: 1000px;
            top: 180px;
            color: white;
            width: 300px;
            text-align: justify;
            text-justify: inter-word;
        }
        .b {
            position: absolute;
            left: 49px;
            top: 520px;
            height: 30px;
            width: 375px;
            background-color: darkslategray;
            font-size: 20px;
            border-radius: 7px;
            color: white;
            border-color: darkslategray;
            font-family :Arial, Helvetica, sans-serif;
        }
       
         .bar{
            color: darkslategray;
        }
        .collapse{
            color: darkslategray;
            background-color: darkslategray;
        }
        .navbar{
            color: darkslategray;
            background-color: darkslategray;
        }
        #my {
            zoom: 110%;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ByteMe-Inca Trial To Machu Picchu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    
    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" style=" font-size: 25px; font-family :Arial, Helvetica, sans-serif; 
        color: white" >ByteMe-Inca Trial To Machu Picchu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form method="POST" action='/search' class="form-inline my-2 my-lg-0">

                <input class="form-control mr-sm-2" name="Search" type="search" placeholder="Search"
                aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0"   style = " font-size: 15px; background-color: lightslategrey; 
            font-family :Arial, Helvetica, sans-serif;
            color: white; border-color: lightslategrey; height: 40px; border-radius: 5px;" type="submit">Search</button>
             </form>
        </div>
    </nav>
    <div class="container1">
        <img id="image" src="/inca.png" width="375" height="300">
    </div>
    <div class="container2">
        Peru's Inca Trail is perhaps the world's greatest hike because it combines the best of both types of travel: a four-to-five day walk to the spectacular lost city of Machu Picchu that winds through the zone where the snowcapped Andes Mountains crash into the lush Amazon jungle.
    </div>
    <div class="wanttogo">
        
        <form  method='post' action='/inca'>
            <input type="submit" value="Add to Want-to-Go List" class="b">
        </form>
    </div>
    <div class="video">
        <iframe width="480" height="380" src="https://www.youtube.com/embed/BCv1Ksbiqyk" title="Inca Trail to Machu Picchu: The Classic 4-Day Hike" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</body>
</html>