<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            background-image: url("background2.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
            }
        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }
        .cont {
            position:relative;
            left:650px;
            top: 130px;
            color: white;
            box-sizing: border-box;
        }
        .top-left {
            position: absolute;
            top: 250px;
            left: 350px;
            text-transform: uppercase;
            font-size: 100px;
            scroll-margin-bottom:   30px ;
            color: darkslategrey;
            font-style: normal;
            font-weight: bold;
            
          }
         
          
          .input{
            width: 370px;
            height: 60px;
            
          }
        .log{
            
            width: 370px;
            height: 60px;
            background-color: darkslategray;
            color: whitesmoke;
            font-size: 80;
            align-self: center;
         }
         .tex{
            color: darkslategray;
         }
         .header{
            color: black;
            font-size: 22px;
            font-weight: bold;
            font-family :Arial, Helvetica, sans-serif;
         }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        
    </div>
    <div class="cont">
     <form method='post' action='/login'>
        <div class="header">
            Create a new ByteMe account
        </div>
            <div  class = "tex">
                Username
            </div>
            
            <input class = "input" type="text" name="username" >
            <br>
            <div  class = "tex">
               
                Password
            </div>
            <input class = "input" type="password" name="password" >
            <br><br>
            <input class ="log" type="submit" value="Register" >
        </form>
    </div>
</body>

</html>